<ul class="aside_list">
    <li class="aside_item">
        <div class="widget">
            <h2 class="widget_title">Категории</h2>
            {% include categories.html %}
        </div>
    </li>
    <li class="aside_item">
        <div class="widget">
            <h2 class="widget_title">Метки</h2>
            {% include topics.html %}
        </div>

    </li>
    <li class="aside_item">
        <div class="widget">
            <h2 class="widget_title">Поделиться</h2>
            {% include yandex_share.html %}
        </div>
    </li>

</ul>