<ul class="social_list">
    <li class="social_item">
        <a href="{{ site.my_vk }}" class="social_link">
            <svg class="icon icon-vk ">
                <use xlink:href="/assets/icons/sprite/sprite.svg#vk"></use>
            </svg>
        </a>
    </li>
    <li class="social_item">
        <a href="{{ site.my_fb }}" class="social_link">
            <svg class="icon icon-facebook">
                <use xlink:href="/assets/icons/sprite/sprite.svg#facebook"></use>
            </svg>
        </a>
    </li>
    <li class="social_item">
        <a href="{{ site.my_twitter }}" class="social_link">
            <svg class="icon icon-twitter">
                <use xlink:href="/assets/icons/sprite/sprite.svg#twitter"></use>
            </svg>
        </a>
    </li>
    <li class="social_item">
        <a href="{{ site.my_google }}" class="social_link">
            <svg class="icon icon-google">
                <use xlink:href="/assets/icons/sprite/sprite.svg#google"></use>
            </svg>
        </a>
    </li>
    <li class="social_item">
        <a href="{{ site.my_github }}" class="social_link">
            <svg class="icon icon-github">
                <use xlink:href="/assets/icons/sprite/sprite.svg#github"></use>
            </svg>
        </a>
    </li>
</ul>