/*----------------------------------------------- loader -----------------------------------------*/
@include loader("img/loader.svg");

/*---------------------------------------------- header styles -----------------------------------------*/

//------------------------------------------------------------ layout
.header {
  width: 100%;
  border-bottom: 6px solid #e5e5e5;
  box-shadow: 0 1px 0 rgba(255,255,255,0.7);
  background-image: url(/assets/img/bgc_1.jpg);
  background-size:cover;
  background-position: 50% 50%;
  background-attachment:fixed;
  background-repeat:no-repeat;
  @include overlay_bg(rgba(242, 242, 242, 0.8))
}
.header_row{
  @include flex_block(row, nowrap, space-between, center, center);
  margin: 0 auto;
  max-width: $page_width;
  padding: 80px $gl_indent 30px $gl_indent;
}
@include for-phone-only{
  .header{
    min-height: 54px;
  }
  .header_row{
    display: none;
  }
}
//------------------------------------------------------------ layout end


//------------------------------------------------------------ top_line
.top_line{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  padding: 0 0;
  background-color:$accent_color;
  box-shadow: 0 0 5px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0.15);
}
.top_line_row{
  @include flex_block(row, nowrap, space-between, center, center);
  height: 50px;
  margin: 0 auto;
  max-width: $page_width;
  padding: 0 $gl_indent;
  .logo{
    height: 33px;
  }
}
@include for-phone-only {
  .top_line_row{
    padding: 0 $mobil_indent;
  }
}

//------------------------------------------------------------ top_line end


//------------------------------------------------------------ logo
.logo{
  display: block;
  &_w{
    margin-right: 20px;
  }
}
//------------------------------------------------------------ logo end

//------------------------------------------------------------ nav_menu
  .nav_menu{
    &_list{
      @include flex_block(row, nowrap, flex-start, center , center);
    }
    &_item{
      position: relative;
      &:hover,
      &:focus,
      &:active{
        .nav_sub-menu_list{
          transform: rotateX(0deg);
          visibility: visible;
          opacity: 1;
        }
      }
    }
    &_link{
      display: inline-block;
      text-transform: uppercase;
      line-height: 50px;
      padding: 0 10px;
      font-size: 1.6rem;
      font-weight: bold;
      color: #A5A5A5;
      text-rendering: optimizelegibility;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.55);
      transition: all 0.3s ease;
      background-color:$accent_color;
      &:hover,
      &:focus,
      &:active{
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
.nav_sub-menu{
  &_list{
    min-width: 200px;
    position: absolute;
    top: 50px;
    left: 0;
    background-color:$accent_color;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
    box-shadow: 2px 2px 5px rgba(68,68,68,0.6);
  }
  &_item{
    margin-right: 0;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0.15);
  }
  &_link{
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: bold;
    color: #A5A5A5;
    text-rendering: optimizelegibility;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.55);
    transition: all 0.3s ease;
    &:hover,
    &:focus,
    &:active{
      cursor: pointer;
      text-decoration: none;
      color: #fff;
      background-color: rgba(0,0,0,0.1);
    }
  }
}

  @include for-tablet-portrait-down {
    .nav_menu{
      display: none;
    }
  }
  .icon-home{
    font-size: 2.2rem;
    vertical-align: middle;
    margin-bottom: 4px;
  }
//------------------------------------------------------------ nav_menu end

//------------------------------------------------------------ mobile_menu

.m-menu{
  display: none;
}
@include for-tablet-portrait-down {
  .m-menu{
    z-index: 100;
    position: absolute;
    top:50px;
    right: 0;
    width: 100%;
    &_list{
      width: 100%;
      background-color:	rgba(34, 34, 34, .9);
      box-shadow: 0 8px 6px -6px black;
    }
    &_item{
      box-shadow: 0 0 5px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0.15);
    }
    &_link{
      text-align: center;
      display: inline-block;
      text-transform: uppercase;
      line-height: 50px;
      width: 100%;
      font-weight: bold;
      color: #A5A5A5;
      background-color:	rgba(34, 34, 34, .6);
      text-rendering: optimizelegibility;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.55);
      transition: all 0.3s ease;
      &:hover,
      &:focus,
      &:active{
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        background-color: rgba(0,0,0,0.1);
      }

    }
  }
}

//------------------------------------------------------------ mobile_menu end
//------------------------------------------------------------ burger_button
  .menu-button {
    display: none;
    padding: .5em;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .burger-icon {
    max-width: $page_width;	@include burger(25px, 3px, 5px, #444);
  }

  .menu-button.is-active .burger-icon {
    @include burger-to-cross;
  }

  @include for-tablet-portrait-down {
    .menu-button{
      display: inline-block;
    }
  }

//------------------------------------------------------------ burger_button end

//------------------------------------------------------------ social
.social{
  &_item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  &_link{
    display: block;
    font-size: 2.8rem;
    height: 2.8rem;
  }
}
//------------------------------------------------------------ social end

/*--------------------------------------- header styles end --------------------------------------------*/