/*----------------------------------------- post styles ------------------------------------------*/


.post{
  position: relative;
  padding: 30px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
@include for-phone-only{
  .post{
    padding: 30px $mobil_indent;
  }
}
.post_title{
  padding-right: 120px;
  font-size: 2.5rem;
  text-rendering: optimizelegibility;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  color: $accent_color;
}
@include for-phone-only{
  .post_title{
    padding: 0;
  }
}
.post_meta {
    display: block;
    font-size: 1.4rem;
    color: #bbb;
    margin-bottom: 25px;
    li{
      display: inline-block;
      margin-right: 10px;
    }
}

.post_content{
  img{
    display: block;
    margin: 20px auto 20px auto;
    max-width: 90%;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  }
  p,
  ul,
  ol{
    margin-bottom: 20px;
  }
  ul{
    padding-left: 30px;
    li{
      list-style: disc;

    }
  }
  ol{
    padding-left: 30px;
    li{
      list-style: decimal;
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6{
    text-rendering: optimizelegibility;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    color: $accent_color;
  }
}

@include for-phone-only{
  .post_content{
    img{
      max-width: 100%;
    }
  }
}
.icon-user,
.icon-clock{
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 2px;
  &.gray_mod {
    color:#bbb;
  }
}
/*----------------------------------------- table style ------------------------------------*/
.post_table_w{
  overflow: auto;
}
.post_content {
  table{
    max-width: 90%;
    margin:0 auto 20px auto;
    border: 1px solid #dedede;
  }
  table > caption + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > th, table > thead:first-child > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > td {
    border-top: 0;
  }
  table th {
    vertical-align: top;
  }

  table > thead > tr > th {
    border-bottom: 2px solid #ddd;
    border-left: 1px solid #ddd;
    text-transform: none;
    background-color: #999999;
    color: white;
    text-align: left;
  }
  table > tbody > tr > td {
    border-left: 1px solid #dedede;
  }
  table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
  }
  table > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
  }
}
/*----------------------------------------- table style end ------------------------------------*/

/*----------------------------------------- codes style ------------------------------------*/
.highlighter-rouge{
  position: relative;
  &:before{
    content:'';
    position: absolute;
    overflow: hidden;
    top: 1px;
    right: 1px;
    min-width: 50px;
    font-size: 1.3rem;
    color:$accent_color;
    line-height: 20px;
    padding: 0 5px;
    border-radius: 0 0 0 5px;
    text-align: center;
    text-rendering: optimizelegibility;
    background-color: $accent_color_grey;
  }
}

.highlight{
  padding: 20px 30px;
  margin-bottom:20px;
  border: 1px solid $accent_color_grey;
  border-radius: 4px;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.language{
  &-javascript{
    &:before{
      content: "javascript";
    }
  }
  &-scss{
    &:before{
      content: "scss";
    }
  }
  &-html{
    &:before{
      content: "html";
    }
  }
  &-css{
    &:before{
      content: "css";
    }
  }
  &-ruby{
    &:before{
      content: "ruby";
    }
  }
  &-markdown{
    &:before{
      content: "markdown";
    }
  }
}
@include for-phone-only{
  .highlight{
    padding: 20px 10px;
  }
  code{
    font-size: 1.4rem;
  }
}
/*----------------------------------------- codes style end ------------------------------------*/

/*----------------------------------------- post subj ------------------------------------*/
.post_subj{
  position: absolute;
  overflow: hidden;
  top: 30px;
  right: 0;
  min-width: 70px;
  max-width:150px;
  height: 35px;
  color: #ffffff;
  line-height: 35px;
  padding: 0 10px;
  text-align: center;
  text-rendering: optimizelegibility;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
@include for-phone-only{
  .post_subj{
    max-width: 0;
    min-width: 0;
    padding: 5px;
    width: 10px;
    span{
      display: none;
    }
  }
}
.mod_red{
  background-color: $accent_color_red;
}
.mod_blue{
  background-color: $accent_color_blue;
}
.mod_yellow{
  background-color: $accent_color_yellow;
}
.mod_grey{
  background-color: #c1c1c1;
}
/*----------------------------------------- post subj end ------------------------------------*/

/*----------------------------------------- post tag ------------------------------------*/
.post_tag{
  &_list{
    display: inline-block;
  }
  &_item{
    margin-right: 3px;
    display: inline-block;
  }
  &_link{
    display: block;
    padding: 3px 5px;
    border-radius: 2px;
    background-color: $accent_color_grey;
    font-size: 1.2rem;
    color: #666;
    &:hover{
      background-color: $accent_color_red;
      text-decoration: none;
      color: #ffffff;
    }
  }
}
.post_tag_title{
  display: inline-block;
  font-size: 1.4rem;
  color:#666;
}
/*----------------------------------------- post tag end ------------------------------------*/

/*----------------------------------------- post styles end ------------------------------------*/