/*------------------------icon sprite styles----------*/
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}
.icon-android {
	font-size:(28/10)*1rem;
	width:(22/28)*1em;
}
.icon-apple {
	font-size:(28/10)*1rem;
	width:(22/28)*1em;
}
.icon-calendar {
	font-size:(28/10)*1rem;
	width:(26/28)*1em;
}
.icon-calendar-o {
	font-size:(28/10)*1rem;
	width:(26/28)*1em;
}
.icon-camera {
	font-size:(28/10)*1rem;
	width:(30/28)*1em;
}
.icon-chrome {
	font-size:(28/10)*1rem;
	width:(30/28)*1em;
}
.icon-clock {
	font-size:(28/10)*1rem;
	width:(24/28)*1em;
}
.icon-css3 {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-dropbox {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-exclamation {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-explorer {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-facebook {
	font-size:(28/10)*1rem;
	width:(16/28)*1em;
}
.icon-firefox {
	font-size:(28/10)*1rem;
	width:(27/28)*1em;
}
.icon-gears {
	font-size:(28/10)*1rem;
	width:(30/28)*1em;
}
.icon-git {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-github {
	font-size:(28/10)*1rem;
	width:(24/28)*1em;
}
.icon-google {
	font-size:(28/10)*1rem;
	width:(36/28)*1em;
}
.icon-home {
	font-size:(512/10)*1rem;
	width:(475/512)*1em;
}
.icon-html5 {
	font-size:(28/10)*1rem;
	width:(22/28)*1em;
}
.icon-instagram {
	font-size:(28/10)*1rem;
	width:(24/28)*1em;
}
.icon-linux {
	font-size:(28/10)*1rem;
	width:(25/28)*1em;
}
.icon-mail {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-opera {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-phone {
	font-size:(28/10)*1rem;
	width:(22/28)*1em;
}
.icon-pic {
	font-size:(28/10)*1rem;
	width:(30/28)*1em;
}
.icon-rss {
	font-size:(28/10)*1rem;
	width:(22/28)*1em;
}
.icon-safari {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-skype {
	font-size:(28/10)*1rem;
	width:(24/28)*1em;
}
.icon-stack-overflow {
	font-size:(28/10)*1rem;
	width:(24/28)*1em;
}
.icon-twitter {
	font-size:(28/10)*1rem;
	width:(26/28)*1em;
}
.icon-user {
	font-size:(28/10)*1rem;
	width:(20/28)*1em;
}
.icon-vk {
	font-size:(28/10)*1rem;
	width:(31/28)*1em;
}
.icon-windows {
	font-size:(28/10)*1rem;
	width:(26/28)*1em;
}
.icon-youtube {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
/*------------------------icon sprite styles end----------*/