//-----------------fonts----------------------------------

$font_f_base:"RalewayRegular",sans-serif;
$font_size_base: 1.6rem;

//-----------------fonts end-------------------------------


//-----------------colors-----------------------------------

$color_txt_base:#666;
$body_bg:#f2f2f2;
$color_link_base:#222;
$color_link_hover:#e8554e;
$accent_color:#222;
$accent_color_red:#e8554e;
$accent_color_grey:#E5E5E5;
$accent_color_green:#7EB66F;
$accent_color_yellow:#E7BA3A;
$accent_color_blue:#69BAC8;
//-----------------colors end---------------------------------


//-----------------buttons_colors-----------------------------------

$color_btn_1:#000;
$color_btn_bg_1:#036cdb;

$color_btn_2:#fff;
$color_btn_bg_2:#006600;

//-----------------buttons_colors end-----------------------------------


//---------------------------------------------layout-------------------

$page_width: 120rem;
$page_min_width: 32rem;
$height_footer: 10rem;
$height_header: 10rem;

//---------------------------------------------layout end---------------

//---------------------------------------------globals values---------------
$gl_indent: 3rem;
$mobil_indent: 1.5rem;
//---------------------------------------------globals values end---------------