---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post_subj mod_{{ page.subj_color }}">
            <span>{{ page.categories }}</span>
  </div>

  <header class="post_header">
    <h1 class="post_title" itemprop="name headline">{{ page.title | escape }}</h1>
    <ul class="post_meta">
      <li>
        <svg class="icon icon-clock gray_mod">
          <use xlink:href="/assets/icons/sprite/sprite.svg#clock"></use>
        </svg>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          {{ page.date | date: date_format }}
        </time>
      </li>
      <li>
        {% if page.author %}
        <svg class="icon icon-user gray_mod">
          <use xlink:href="/assets/icons/sprite/sprite.svg#user"></use>
        </svg>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
        {% endif %}
      </li>
    </ul>
  </header>

  <div class="post_content" itemprop="articleBody">
    {{ content }}
  </div>
  <br>
  {% include yandex_share.html %}
  <br>
  {% include page_tags.html %}
  <br>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
