//----------button size extends
%butt_size_1 {
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-family: $font_f_base;
  font-size: 1.2rem;
  border: none;
  display: inline-block;
  white-space: nowrap;
}

//----------button color extends
%butt_color_1 {
  background: $color_btn_bg_1;
  color: $color_btn_1;
  transition: all .3s ease;
  &:hover, &:focus {
    text-decoration: none;
  }
  &:hover {
    background: darken($color_btn_bg_1, 5%);
    cursor: pointer;
  }
}
